{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <h2 class="display-5">{% if form.instance.pk %}Editar Proyecto o Experiencias{% else %}Nuevo Proyecto{% endif %}
        </h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.titulo.label_tag }}
                {{ form.titulo }}
            </div>
            <div class="form-group">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                {{ form.fecha_inicio.label_tag }}
                {{ form.fecha_inicio }}
            </div>
            <div class="form-group">
                {{ form.fecha_finalizacion.label_tag }}
                {{ form.fecha_finalizacion }}
            </div>
            <div class="form-group">
                {{ form.estado.label_tag }}
                {{ form.estado }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_proyectos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}